.layout-container {
    .header {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        background: none;
        display: flex;
        align-items: center;
        padding: 2.9rem 5rem;
        transition: 0.6s;
        .logo {
            background-color: #eee;
            width: 8rem;
            height: 3rem;
            margin-right: auto;
        }
        input {
            display: none;
        }
        nav {
            a {
                color: #fff;
                user-select: none;
                font-size: 1.5rem;
                font-weight: 100;
                margin-left: 5rem;
            }
        }
    }
    .sticky {
        background: #fff;
        backdrop-filter: blur(5px);
        padding: 1.4rem 5rem;
        .logo{
            background-color: #333;
        }
        nav{
            a{
                color: #333;
            }
        }
    }
    .content {
        min-height: 66rem;
        background: lightcyan;
    }

    .footer {
        height: 33rem;
        background: lightcoral;
    }
}

@media only screen and (max-width: 960px) {
    .layout-container {
        .header {
            flex-flow: row wrap;
            padding: 1.6rem 2rem;
            .menuBtn {
                padding: 1.2rem;
                border: solid 1px #777;
                border-radius: 0.2rem;
                cursor: pointer;
                & + input {
                    display: none;
                }
                & + input:checked {
                    & + .collapse {
                        display: block;
                    }
                }
            }
            .collapse {
                display: none;
                width: 100%;
                nav {
                    display: flex;
                    flex-direction: column;
                    a {
                        margin-top: 1.4rem;
                        margin-left: 0;
                    }
                }
            }
        }
    }
}
